<div class="p-3">
  <h1>Create Family</h1>
  <%= simple_form_for @family do |f| %>
    <%= f.input :name, class: "form-control" %>
    <%= f.submit class: "btn btn-primary w-100 text-white" %>
  <% end %>
</div>
