<nav class="navbar navbar-expand bg-white fixed-bottom">
  <div class="container-fluid justify-content-around">
    <ul class="navbar-nav flex-row w-100 justify-content-around">
      <li class="nav-item">
        <a class="nav-link active text-center" href="/">
          <i class="fa-solid fa-house"></i><br>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-center" href=<%= current_user.contact.family.nil? ? "/families/new" : "/contacts/new" %>>
          <i class="fa-solid fa-user-plus"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-center" href="/addresses">
          <i class="fa-solid fa-building-shield"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-center" data-controller="location" href="#"
          data-action="click->location#update"
          >
          <i class="fa-solid fa-location-dot"></i>
        </a>
      </li>
      <li class="nav-item">
        <%= link_to destroy_user_session_path,
            data: { turbo_method: :delete },
            class: "nav-link text-center" do %>
          <i class="fa-solid fa-right-from-bracket"></i>
      <% end %>
    </li>
  </ul>
</div>
</nav>
