<div>
  <% chats.each do |chat| %>
    <div class="w-100 bg-primary p-3 rounded-4"
      data-chat-id="<%= chat.id %>"
      data-action="click->chat#showMessages">
      <h5><%= chat.title %></h5>
      <div>
        <p style="font-size: 0.75rem" class="text-end mb-0"><%= chat.created_at.strftime("%F %H:%M") %></p>
      </div>
    </div>
  <% end %>
</div>
